<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% if meta.keywords %}
    <meta name="keywords" content="{{meta.keywords.value | safe}}">
    {% endif %}
    {% if meta.description %}
    <meta name="description" content="{{meta.description.value | safe}}">
    {% endif %}
    {% if meta.description %}
    <title>{{meta.title.value | safe}}</title>
    {% else %}
    <title>{% block title %} Visualizer {% endblock %}</title>
    {% endif %}

    <script src="{{ config.cdn | concat('/lib/jquery/2.1.1/jquery.min.js') | processUrl(reldir, flavor) }}"></script>
    <script src="{{ config.cdn | concat('/lib/uri.js/1.14.1/URI.min.js') | processUrl(reldir, flavor) }}"></script>
    <script>
        window.addEventListener('load', function() {
            $('.navmenu').show();
        });
    </script>
    {% block head %}

    {% endblock %}
</head>
<body>
{% block menu %}
    {{ menuHtml|safe }}
{% endblock %}
{% block content %}{% endblock %}

{% block couchStatic %}
<div class="general">
{% if meta.content.type == 'text' %}
{{ meta.content.value }}
{% elseif meta.content.type == 'html' %}
{{ meta.content.value|safe }}
{% endif %}
</div>
{% endblock couchStatic %}

{% block visualizer %}
    {% if viewURL %}
        {% include "./visualizer.html" %}
    {% endif %}
{% endblock %}

</body>
</html>
