
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} Visualizer {% endblock %}</title>
    <script src="http://www.lactame.com/lib/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://lactame.com/lib/uri.js/1.14.1/URI.min.js"></script>
    {% block head %}

    {% endblock %}
</head>
<body>
{% block menu %}
    {{ menuHtml|safe }}
{% endblock %}
{% block content %}{% endblock %}

{% block couchStatic %}
{% if meta.static.type == 'text' %}
{{ meta.static.value }}
{% elseif meta.static.type == 'html' %}
{{ meta.static.value|safe }}
{% endif %}
{% endblock %}

{% block visualizer %}
    {% if viewURL %}
        {% include "./visualizer.html" %}
    {% endif %}
{% endblock %}

</body>
</html>