<script>
    'use strict';
    function checkVersion(versions, version) {
        version = version.toLowerCase();
        if (version && version[0] >= '0' && version[0] <= '9' && !version.startsWith('v')) version = 'v' + version;
        var idx = versions.indexOf(version);
        if (idx > -1) {
            version = versions[idx];
        }
        else {
            // Fallback version is HEAD-min
            version = 'HEAD-min';
        }
        return version;
    }
    window.onload = function () {
        var prom;
        // Weird but will avoid javascript error if this param is not what we expect
        {% if config.selfContained %}
            prom = Promise.resolve([]);
        {% else %}
            prom = Promise.resolve($.getJSON('{{ config.cdn }}/visualizer/versions.json'));
        {% endif %}

        prom.then(function (versions) {
            var url;
            var uri = new URI(window.location.href);
            var search = uri.search(true);
            url = '{{ viewURL }}';
            var fallbackVersion = '{{ version }}';
            var version;
            if (search.viewURL) {
                url = search.viewURL;
            }
            if (search.v) {
                version = checkVersion(versions, search.v);
            }
            if (!version) {
                version = checkVersion(versions, fallbackVersion);
            }
            if (!search.loadversion)
                addVisualizer(version, search);
            else {
                $.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        addVisualizer(checkVersion(versions, data.version), search);
                    },
                    error: function (err) {
                        console.log('error', err);
                    }
                })
            }
        });

        function addVisualizer(version, search) {
            var cdn = '{{config.cdn}}';
            var direct = '{{config.direct}}';
            var visualizer = document.createElement('script');
            var baseUrl;

            {% if config.selfContained %}
                baseUrl = '{{ version | visualizer(reldir) }}';
            {% else %}
                baseUrl = (search.direct ? direct : cdn) + '/visualizer/' + version;
            {% endif %}

            visualizer.setAttribute('data-main', baseUrl+ '/init');
            visualizer.setAttribute('src', baseUrl + '/components/requirejs/require.js');
            document.head.appendChild(visualizer);
        }
    }
</script>
<div id="errorMessage"></div>
<tr>
    <td class="left"></td>
    <td colspan="3">
        <div id="ci-visualizer" {% if dataURL %} data-ci-data="{{ dataURL }}" dataURL="{{ dataURL }}" {% endif %} data-ci-view="{{ viewURL }}" viewURL="{{ viewURL }}"
             data-ci-config="{{ readConfig }}" config="{{ readConfig }}"/>
    </td>
    <td class="right"></td>
</tr>
