<script>
  'use strict';
  window.onload = function () {

    function checkVersion(v) {
    if (typeof v === 'string') {
      if (v[0] >= '0' && v[0] <= '9') {
        return 'v' + v;
      }
    }
    return v;
  }

    var version;
    var uri = new URI(window.location.href);
    var search = uri.search(true);
    var url = '{{ viewURL }}';
    var tplVersion = '{{ version }}';
    if (search.viewURL) {
        url = search.viewURL;
    }
    // Get version in the following priority order
    // In url, in template, fallback
    if (search.v) {
        version = search.v;
    }
    if (!version) {
        version = tplVersion;
    }
    if (!search.loadversion)
        addVisualizer(version, search);
    else {
        $.ajax({
            url: url,
            dataType: 'json',
            type: 'GET',
            success: function (data) {
                addVisualizer(data.version, search);
            },
            error: function (err) {
                console.log('error', err);
            }
        })
    }


      function addVisualizer(version, search) {
          version = checkVersion(version);
          var cdn = '{{config.cdn}}';
          var direct = '{{config.direct}}';
          var visualizer = document.createElement('script');
          var baseUrl = (search.direct ? direct : cdn) + '/visualizer/' + version;

          visualizer.setAttribute('data-main', baseUrl+ '/init');
          visualizer.setAttribute('src', baseUrl + '/components/requirejs/require.js');
          document.head.appendChild(visualizer);
      }
  }
</script>
<div id="errorMessage"></div>
<tr>
  <td class="left"></td>
  <td colspan="3">
        <div id="ci-visualizer" {% if dataURL %} data-ci-data="{{ dataURL }}" {% endif %} data-ci-view="{{ viewURL }}"
             data-ci-config="{{ readConfig }}"/>
    </td>
    <td class="right"></td>
</tr>
