<!-- Button trigger modal -->
<input type="button" id="login-button" value="Fork"> </input>

<script>
    function getRedirect() {
        var redirect = new URI('{{ config.editRedirect }}');
        var uri = new URI(window.location.href);
        var search = uri.search(true);

        if (!search.viewURL) {
            uri = uri.addSearch('viewURL', '{{ viewURL }}')
        }
        if (!search.dataURL) {
            uri.addSearch('dataURL', '{{ dataURL }}');
        }

        if (redirect.protocol() === 'https' && new URI(search.viewURL).protocol() === 'http') {
            // don't try to fork since it wouldn't work
            return redirect.href();
        }

        redirect.addSearch('viewURL', search.viewURL);
        if (search.dataURL) {
            redirect.addSearch('dataURL', search.dataURL);
        }
        return redirect.href();
    }


    // Do request to clp to know is user is logged in
    var $loginButton = $('#login-button');

    $loginButton.on('click', function () {
        window.location = getRedirect();
    });

</script>