<div id="search-box">
<select style="width: 250px;" class="js-example-basic-single"></select>
</div>

<script>
    function intersectionObjects(array, propertyName) {
        var slice = Array.prototype.slice; // added this line as a utility
        var rest;
        var propName;
        if(typeof arguments[arguments.length-1] === 'string') {
            rest = slice.call(arguments, 1, -1);
            propName = arguments[arguments.length-1];
        }
        else {
            rest = slice.call(arguments, 1);
        }
        return _.filter(_.uniq(array), function(item) {
            return _.every(rest, function(other) {
                //return _.indexOf(other, item) >= 0;
                return _.any(other, function(element) { if(!propName){return _.isEqual(element, item);} return _.isEqual(element[propName], item[propName])});
            });
        });
    }

    var matches = [], term='', selectedTerm='', searchResults = {};

    function formatView(view) {
        if(!view.$content) {
            return view.text;
        }

        var keys = Object.keys(view.$content.flavors);
        var firstFlavor = view.$content.flavors[keys[0]];
        return firstFlavor[firstFlavor.length -1] + view.$content.title;
//        var flavors = view.$content.flavors;
//        return flavors.join('  \u2192  ');
    }

    function formatViewSelection(view) {
        if(!view.$content) {
            return view.text;
        }
//        var flavors = view.$content.flavors;
//        return flavors[flavors.length-1];

        return view.$content.title;
    }

    $(document).ready(function() {
        var $searchbox = $(".js-example-basic-single");
        var uri = new URI(window.location.href);
        var search = uri.search(true);
        if(search.fillsearch) {
            $searchbox.append('<option>' + search.fillsearch + '</option>');
        }
        else {
            $searchbox.append('<option>{{ title }}</option>');
        }
        $searchbox.select2({
            ajax: {
                url: "{{ config.couchurl }}/{{ config.couchDatabase }}/_view/searchOne?limit=50",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    if(typeof params.term === 'string') {
                        params.term = params.term.toLowerCase();
                    }
                    selectedTerm = getTerm(params.term);
                    term = params.term;

                    return {
                        startkey: JSON.stringify(selectedTerm),
                        endkey: JSON.stringify(selectedTerm + 'ZZZZZ')
                    };
                },
                processResults: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    // cache the search result;
                    searchResults[selectedTerm] = data;
                    var terms = extractTerms(term);
                    var args = [];
                    for(var i=0; i<terms.length; i++) {
                        if(searchResults[terms[i]]) {
                            args.push(searchResults[terms[i]]);
                        }
                    }
                    args.push('id');
                    var res = intersectionObjects.apply(null, args);
                    res = _.filter(res, function(val) { return val._id});
                    res.forEach(function (val) {
                        val.id = val._id;
                    });


//                    console.log('flavor, {{flavor}}');
//                    res.sort(function(a, b) {
//                        return a.$content.flavor === '{{flavor}}' || b.$content.flavor === '{{flavor}}';
//                    });
                    res = _.uniq(res, function(val) {
                        return val._id;
                    });
                    return {
                        results: res
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            templateResult: formatView, // omitted for brevity, see the source of this page
            templateSelection: formatView // omitted for brevity, see the source of this page
        });

        function ajaxCall(sterm) {
            $.ajax({
                url: "{{ config.couchurl }}/{{ config.couchDatabase }}/_view/searchOne?limit=50",
                dataType: 'json',
                data: {
                    startkey: JSON.stringify(sterm),
                    endkey: JSON.stringify(sterm+'ZZZZZ')
                },
                cache: true,
                success: function(data) {
                    searchResults[sterm] = data;
                }
            })
        }
        var throttledAjax = _.throttle(ajaxCall, 200);

        $searchbox.on("select2:open", function (e) {
            var $searchinput = $('.select2-search__field');
            $searchinput.off('keydown', onKeydown);
            $searchinput.on('keydown', onKeydown);
        });

        function onKeydown(e) {
            if(String.fromCharCode(e.keyCode).match(/\s/)) {
                throttledAjax(selectedTerm);
            }
        }
        $searchbox.on('select2:select', function(e) {
            var data = e.params.data;
            var uri = new URI(window.location.href);
            uri.query('');
            if(data._attachments && data._attachments['view.json']) {
                var viewURL =  '{{ config.couchurl }}/{{ config.couchDatabase }}/' + data.id + '/view.json';
                uri.addSearch('viewURL', viewURL);
                if(data._attachments && data._attachments['data.json']) {
                    uri.addSearch('dataURL', '{{ config.couchurl }}/{{ config.couchDatabase}}/' + data.id + '/data.json');
                }
                uri.addSearch('loadversion', true);
//                var flavors = e.params.data.$content.flavors;
//                uri.addSearch('fillsearch', flavors[flavors.length-1]);
                window.location = uri.href();
            }
        });
    });

    function extractTerms(term) {
        return (term || '').split(/\s+/).filter(function(val) { return val !== ''});
    }
    
    function getTerm(newTerm) {
        var newTerms = extractTerms(newTerm);
        var oldTerms = extractTerms(term);
        var idx = getChangedIdx(oldTerms, newTerms);
        if(idx > -1) {
            return newTerms[idx];
        }
        return newTerms[0] || null;
    }
    
    function getChangedIdx(oldarr, newarr) {
        // We look for what changed in newarr compared to oldarr
        var l = (oldarr.length > newarr.length) ? newarr.length : oldarr.length;
        for(var i=0; i<l; i++) {
            if(oldarr[i] !== newarr[i]) {
                return i;
            }
        }
        if(oldarr.length === newarr.length) {
            return -1;
        }
        else if(oldarr.length < newarr.length) {
            return oldarr.length;
        }
        else {
            return newarr.length -1;
        }
    }
</script>