name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - name: Install dependencies
        run: npm install
      - name: Run prettier
        run: npm run prettier
      - name: Run ESLint
        run: npm run eslint
